.hero1p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
    margin-top: 10px;
    text-align: justify;
}


.about .content h3 {
    font-weight: 600;
    font-size: 28px;
}

/*--------------------------------------------------------------
# hero1 Section
--------------------------------------------------------------*/
#hero1 {
    width: 100%;
    height: calc(100vh - -55px);
    background: url("../img/BackgroundService.png") top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1200px) {
    #hero1 p {
        width: 50%;
    }
}

#hero1:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero1 h1 {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero1 h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 27px;
}

#hero1 .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
}

    #hero1 .btn-get-started:hover {
        background: #e1251b;
        border-color: #e1251b;
    }

@media (min-width: 1024px) {
#hero1 {
    background-attachment: fixed;
}
}

@media (max-width: 768px) {
#hero1 {
    text-align: center;
}

#hero1 .container {
    padding-top: 40px;
}

#hero1 h1 {
    font-size: 28px;
    line-height: 36px;
}

#hero1 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}

#hero1 p {
    font-size: 16px;
    text-align: center;
}
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.social-links a{
    font-size: 26px;
    display: inline;
    color: #fff;
    line-height: 2;
    padding: 12px 0;
    margin-right: 4px;
    transition: 0.3s;
}

.social-links a :hover {
    color: #e1251b;
    
}

/* ----------------- GET STARTED ---------------- */

.getstarted .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
}

.getstarted .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.getstarted .php-email-form .error-message br + br {
    margin-top: 25px;
}

    .getstarted .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #e1251b;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

.getstarted .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.getstarted .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

    .getstarted .php-email-form input,
    .getstarted .php-email-form textarea,
    .getstarted .php-email-form select {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }


.getstarted .php-email-form input {
    padding: 10px 15px;
}
.getstarted .php-email-form select {
    padding: 10px 15px;
}

.getstarted .php-email-form textarea {
    padding: 12px 15px;
}

    .getstarted .php-email-form button[type=submit] {
        background: #e1251b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
    }

.getstarted .php-email-form button[type=submit]:hover {
    background: #e82d2d;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    margin-top: 5%;
}

a.btn-get-started.scrollto:hover {
    background: #e1251b;
    border-color: #e1251b;
    color: white;
}

/*--------------------------------------------------------------
# Privacy Section
--------------------------------------------------------------*/
.privacy{
    background:url(/assets/img/BackgroundPrivacyPolicy.png) no-repeat;
    background-size:cover;
}
.privacy .contant h3 {
    font-weight: 600;
    font-size: 28px;
    color:#fff;
}
.privacy .contant p {
    font-size: 16px;
    color: #fff;
    text-align: justify;
}
.privacy .contant p a {
    font-size: 16px;
    color: #e1251b;
}
.privacy .contant li{
    font-size: 16px;
    color: #fff;
}